body{
	background-image: url("code.jpg");
}
#HTML {
	width: 200px;
	height: 200px;
	text-align: center;
	background-color: green;
	transition: width 3s, height 3s, transform 2s;
}
#CSS {
	width: 200px;
	height: 200px;
	text-align: center;
	background-color: blue;
	transition: width 2s, height 4s, transform 2.5s;
}
#Stackoverflow{
	width: 200px;
	height: 200px;
	text-align: center;
	background-color: red;
	transition: width 4s, height 4s, transform 2.75s;
}
#codefactory{
	width: 200px;
	height: 200px;
	text-align: center;
	background-color: purple;
	transition: width 3s, height 5s, transform 3s;
}
.Links {
	flex-flow: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	display: flex;
}
#HTML:hover{
	background:green;
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(360deg);
    font-size: 30px;
    border-radius: 50px;
  	width: 150px;
}
#CSS:hover{
	border-radius: 50px;
  	width: 180px;
    -webkit-transform: rotate(369deg); /* Safari */
    transform: rotate(360deg);
    font-size: 30px;
}
#Stackoverflow:hover{
	border-radius: 50px;
  	width: 200px;
	-webkit-transform: rotate(369deg); /* Safari */
    transform: rotate(360deg);
    font-size: 30px;
}
#codefactory:hover{
	border-radius: 50px;
  	width: 250px;
	-webkit-transform: rotate(369deg); /* Safari */
    transform: rotate(360deg);
    font-size: 30px;
}
a {
	color: white;
}